body{
    background-color: #FFD9E0;
}

.nav_div{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.menue_dot {
    width: 5px;
    height: 5px;
    margin-right: 1px;
    border-radius: 25px;
    background-color: black;
    margin: 2px 2px;
  }

.row{
    display: flex;
}